<ul>
    <li><%= link_to "Novo Ator", new_ator_path %></li>
    <li><%= link_to "Novo Filme", filmes_path %></li>
    <li><%= link_to "Atores", ators_path %></li>
    <li><%= link_to "Críticas", criticas_path %></li>
    <li><%= link_to "Logs", logs_path %></li>
</ul>

<br>
<h1> Dados Cadastrados </h1>